body {
    background-color: white;
}


#neutralinoapp {
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

#neutralinoapp *{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#neutralinoapp > div {
    font-size: 16px;
    font-weight: normal;
}
#pomodoro-timer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
#pomodoro-controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
#timer-display{
    font-size: 5rem;
}
#timer-setup{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
#timer-setup > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.timer-input-big{
    width: 4rem;
    height: 3rem;
}
.timer-input-small{
    width: 2rem;
    height: 2rem;
}

.hidden{
    display: none !important;
}